body {
  overflow: auto;
  font-weight: 400;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100vw;
  color: #232b34;
  font-size: 14px;
  background-color: var(--grey-10);
}
html {
  overflow-y: initial;
}
* {
  font-family: "Nunito", sans-serif;
}
button:focus {
  outline: none;
}
button {
  cursor: pointer;
}

h4 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: var(--lead);
  margin: 0;
  margin-bottom: 8px;
}

h5 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  color: var(--lead);
  margin: 0;
  margin-bottom: 8px;
}

h6 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: var(--lead);
  margin: 0;
  margin-bottom: 5px;
}

.h7 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  display: flex;
  align-items: center;
  color: var(--lead);
  margin: 0;
  margin-bottom: 8px;
}

.h7-link {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  display: flex;
  align-items: center;
  color: var(--link);
  margin: 0;
  margin-bottom: 8px;
}

.header-components {
  padding: 16px;
  background-color: var(--white);
}

.header-components > h5 {
  font-size: 16px;
  display: flex;
  justify-content: left;
  color: var(--lead);
  margin: 0;
}

.s-grid {
  display: grid !important;
}

.s-text-ellipsis {
  display: block !important;
  flex: 1 !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  text-align: left;
}

.text-thin {
  font-weight: 400;
}

@media (min-width: 576px) {
  body {
    max-width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    border-left: 1px solid var(--grey-30);
    border-right: 1px solid var(--grey-30);
  }
}

@media (min-width: 768px) {
  body {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  body {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  body {
    max-width: 1140px;
  }
}